/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-v25-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-300.woff") format("woff");
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff");
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-500.woff") format("woff");
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-600.woff") format("woff");
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff") format("woff");
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v25-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-800.woff") format("woff");
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  max-width: 1324px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 13px 0;
  background-color: #0c0537;
}

.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar__item + .navbar__item {
  margin-left: 20px;
}

.navbar__link {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
}

.navbar__link--active {
  position: relative;
  padding-right: 31px;
  color: #ffc94f;
}
.navbar__link--active::after {
  position: absolute;
  top: -1px;
  right: 0;
  width: 22px;
  height: 22px;
  background-image: url("../images/add.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.site-header__links {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.navbar__link--mail {
  position: relative;
  padding-left: 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.navbar__link--mail::before {
  position: absolute;
  top: 2px;
  left: 0;
  width: 15px;
  height: 12px;
  background-image: url("../images/sms.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.navbar__link--tel {
  position: relative;
  margin-left: 12px;
  padding: 13px 23px 14px 50px;
  border: 1px solid #ffffff;
  border-radius: 2px;
}
.navbar__link--tel::before {
  position: absolute;
  top: 14px;
  left: 22px;
  width: 14px;
  height: 14px;
  background-image: url("../images/tel.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 18px;
  z-index: 5;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.burger > .line {
  position: absolute;
  top: calc(50% - 0.5px);
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffc94f;
  transition: all 0.3s ease;
}
.burger > .line:first-child {
  top: 0;
}
.burger > .line:last-child {
  top: auto;
  bottom: 0;
}

@media only screen and (max-width: 1140px) {
  .navbar {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    background-color: #0c0537;
  }
  .navbar__list {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  .navbar__item + .navbar__item {
    margin-left: 0;
    margin-top: 20px;
  }
  .site-header__links {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #535353;
  }
  .navbar__link--tel {
    margin-left: 0;
    margin-top: 20px;
  }
  .burger {
    display: block;
  }
  .menu {
    display: block;
  }
  .menu ~ .burger > .line {
    transform: scale(0);
  }
  .menu ~ .burger > .line:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 0.5px);
  }
  .menu ~ .burger > .line:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 0.5px);
  }
}
.catalog__menu__inner {
  margin-bottom: 32px;
  padding: 60px 0 50px 0;
}

.catalog__menu__title {
  margin: 0 0 22px 0;
  font-weight: 800;
  font-size: 30px;
  line-height: 40px;
  color: #535353;
}

.catalog__menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__menu__item--active {
  padding: 10px 21px;
  background: #3d4f64;
  box-shadow: 0px 0px 15px rgba(255, 201, 79, 0.3);
  border-radius: 2px;
}

.catalog__menu__link--active {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.catalog__menu__item {
  padding: 10px 21px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  transition: 0.2s ease;
}
.catalog__menu__item:hover {
  background: #3d4f64;
  box-shadow: 0px 0px 15px rgba(255, 201, 79, 0.3);
}

.catalog__menu__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #535353;
  transition: 0.2s ease;
}
.catalog__menu__item:hover .catalog__menu__link {
  color: #fff;
}

@media only screen and (max-width: 565px) {
  .catalog__menu__inner {
    padding: 10px 0 30px 0;
  }
  .catalog__menu__title {
    font-size: 18px;
    line-height: 40px;
  }
  .catalog__menu__list {
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: scroll;
  }
}
.catalog {
  background-color: #fcfcfc;
}

.catalog__filter__inner {
  display: flex;
  align-items: flex-start;
}

.filters {
  margin-right: 21px;
  max-width: 302px;
  width: 100%;
  padding: 11px 25px 24px 20px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 0px;
}

.filters__info {
  display: flex;
  align-items: center;
}

.filters__title {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  color: #535353;
}

.filters__img {
  margin-left: auto;
}

.statis--bottom {
  margin-bottom: 25px;
}

.statis__title {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
  color: #535353;
}

.statis__border {
  position: relative;
  display: inline-block;
  max-width: 255px;
  width: 100%;
  height: 1px;
  background-color: #eaeaea;
}

.statis__circle {
  position: absolute;
  left: 65px;
  top: -7px;
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #ffc94f;
  box-shadow: 0px 0px 4px #ffc94f;
  border-radius: 50%;
}

.left {
  left: 45px;
}

.statis__num {
  display: flex;
  justify-content: space-between;
}

.statis__numbers {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #3d4f64;
}

.filters__btns {
  display: flex;
  justify-content: space-between;
}

.filters__sbros {
  max-width: 117px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
  color: #535353;
  border: none;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.filters__primenit {
  max-width: 117px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
  color: #535353;
  border: none;
  background-color: transparent;
  background: #ffc94f;
  border-radius: 2px;
  transition: 0.2s ease;
  cursor: pointer;
}
.filters__primenit:hover {
  background-color: transparent;
  border: 1px solid #e5e5e5;
}

.news__title {
  margin: 0 0 7px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #535353;
}

.news__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 21px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.news__lists {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 21px;
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
}

.news__item {
  transition: 0.2s ease;
  cursor: pointer;
}
.news__item:hover {
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(255, 201, 79, 0.3);
  border-radius: 0px;
}

.news__infos {
  position: relative;
  max-width: 305px;
  width: 100%;
  padding: 52px 22px 0 22px;
  border: 1px solid #e5e5e5;
}

.news__spanDay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 14px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #535353;
  background: #ffc94f;
  border-radius: 0px 0px 2px 0px;
}

.news__img {
  display: block;
  margin: 0 auto;
  padding-bottom: 44px;
}

.news__titles {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #535353;
}

.news__textList {
  margin: 0 0 16px 0;
  padding: 0;
  list-style: none;
}

.news__textItem {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #535353;
}
.news__textItem::before {
  display: block;
  width: 6px;
  height: 6px;
  background: #ffc94f;
  border-radius: 3px;
  margin-right: 11px;
  content: "";
}

.news__cost {
  display: inline-block;
  margin-bottom: 56px;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  color: #535353;
  transition: 0.2s ease;
}
.news__item:hover .news__cost {
  color: #f3c650;
}

.news__btn {
  display: flex;
}

.news__btn1 {
  max-width: 245px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 45px;
  color: #ffffff;
  background: #3d4f64;
  border-radius: 0px 0px 0px 2px;
  border: none;
}

.news__btn2 {
  margin: 0;
  padding: 7px 28px 4px 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 45px;
  color: #535353;
  background: #efefef;
  border-radius: 0px 0px 2px 0px;
  border: none;
}

.news__allTitle {
  display: block;
  margin: 36px 0 7px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #535353;
}

@media only screen and (max-width: 565px) {
  .catalog__filter__inner {
    flex-direction: column;
    align-items: center;
  }
  .news__list {
    align-items: center;
    justify-content: center;
  }
  .news__item--delete {
    display: none;
  }
  .news__spanDay {
    display: none;
  }
  .news__title {
    display: none;
  }
  .news__img {
    padding: 0;
  }
  .news__infos {
    max-width: 164px;
    padding: 0 9px;
  }
  .news__textList {
    display: none;
  }
  .news__titles {
    font-size: 11px;
    line-height: 18px;
    margin-bottom: 9px;
  }
  .news__cost {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 21px;
  }
  .news__btn1 {
    padding: 0 25px 0 25px;
    font-size: 12px;
    line-height: 45px;
  }
  .news__btn2 {
    padding: 0px 13px 4px 13px;
  }
  .filters {
    max-width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
}
.basket__table {
  margin-bottom: 6px;
}

.basket__head {
  display: flex;
  align-items: center;
}

.basket__headTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 40px;
  color: #000000;
}
.basket__headTitle:first-child {
  margin-right: 113px;
}
.basket__headTitle:nth-child(2) {
  margin-right: 430px;
}
.basket__headTitle:nth-child(3) {
  margin-right: 231px;
}
.basket__headTitle:nth-child(4) {
  margin-right: 151px;
}

.basket__list {
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 50px;
}

.basket__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 19px 40px 15px;
  border-bottom: 1px solid #e5e5e5;
  transition: 0.2s ease;
}
.basket__item:hover {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(243, 168, 0, 0.2);
}
.basket__item:first-child {
  margin-bottom: 50px;
}

.basket__img {
  margin-right: 31px;
}

.basket__left {
  display: flex;
  align-items: flex-start;
  margin-right: 210px;
}

.trekoviy__titles {
  margin: 0 0 2px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  color: #535353;
}

.trekoviy__titless {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 25px;
}

.trekoviy__text {
  margin: 0;
  color: #535353;
  font-size: 14px;
  line-height: 21px;
}

.trekoviy__all {
  display: flex;
  align-items: center;
}

.trekoviy__box1 {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
  border-right: 1px solid;
}

.trekoviy__box2 {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}

.trekoviy__span {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #505050;
}

.right {
  display: flex;
  align-items: flex-start;
}

.right__add {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 195px;
}

.right__btn1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
  padding: 0 15px 0 15px;
  background: #3d4f64;
  border-radius: 2px 0px 0px 2px;
  border: none;
  transition: 0.2s ease;
}
.right__btn1:hover {
  background-color: #f3a800;
}

.right__btn2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
  padding: 0 15px 0 15px;
  background: #3d4f64;
  border-radius: 0px 2px 2px 0px;
  border: none;
  transition: 0.2s ease;
}
.right__btn2:hover {
  background-color: #f3a800;
}

.right__span {
  font-weight: 500;
  font-size: 14px;
  line-height: 38px;
  color: #535353;
  padding: 0 20px;
}

.right__spanLeft {
  font-weight: 400;
  font-size: 12px;
  line-height: 40px;
  color: #535353;
}

.right__total {
  margin-right: 130px;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  color: #535353;
}

.delete {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  transition: 0.2s ease;
  cursor: pointer;
}
.basket__item:hover .delete {
  color: #f3a800;
}

.deletePlus {
  transform: rotateZ(45deg);
  margin-right: 5px;
  font-size: 25px;
  transition: 0.2s ease;
}
.basket__item:hover .deletePlus {
  color: #f3a800;
}

@media only screen and (max-width: 565px) {
  .basket__item:first-child {
    margin-bottom: 25px;
  }
  .trekoviy {
    padding-bottom: 10px;
    border-bottom: 1px solid;
  }
  .basket__table {
    display: none;
  }
  .basket__item {
    flex-direction: column;
  }
  .trekoviy__text {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
  }
  .basket__left {
    margin-right: 0;
  }
  .basket__img {
    margin-right: 12px;
    width: 75px;
    height: 55px;
  }
  .right {
    margin-left: 95px;
    padding-top: 10px;
    justify-content: space-between;
    max-width: 253px;
    width: 100%;
  }
  .right__add {
    margin: 0;
  }
  .right__total {
    margin: 0;
  }
  .right__box {
    display: flex;
  }
  .delete {
    display: none;
  }
}
.company__list {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
  gap: 39px;
  border-bottom: 1px solid #ededed;
}

.company__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  text-decoration: none;
  color: #535353;
}

.company__link--active {
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
  background: #3d4f64;
  border-radius: 2px 2px 0px 2px;
  padding: 11px 35px;
  color: #fff;
}

.company__info {
  margin-bottom: 60px;
}

.company__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #535353;
  margin: 0;
}

.company__title {
  margin: 0 0 21px 0;
  font-weight: 800;
  font-size: 24px;
  line-height: 40px;
  color: #535353;
}

.bottom {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.bottom__list {
  max-width: 302px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.bottom__item {
  padding: 17px 40px 17px 21px;
  border-bottom: 1px solid #ededed;
  transition: 0.3s ease all;
  cursor: pointer;
}
.bottom__item:last-child {
  border-bottom: none;
}
.bottom__item:hover {
  background-color: #3d4f64;
}

.bottom__item--active {
  border-bottom: none;
  background-color: #3d4f64;
}

.bottom__link--active {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff !important;
}

.bottom__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #3d4f64;
  transition: 0.3s ease;
}
.bottom__item:hover .bottom__link {
  color: #fff;
}

.company__media {
  display: none;
}

@media only screen and (max-width: 565px) {
  .company__media {
    display: block;
  }
  .company__list {
    display: none;
  }
  .bottom {
    display: none;
  }
  .company__info {
    display: none;
  }
  .company__detail {
    padding: 15px 0 0 0;
  }
  .detail__bot {
    margin-bottom: 20px;
  }
  summary {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  summary::after {
    display: block;
    margin-left: auto;
    width: 11px;
    height: 7px;
    background-image: url("../../images/Arrow.svg");
    background-repeat: no-repeat;
    content: "";
  }
  .company__detail summary {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #535353;
    padding: 10px 0;
    border-bottom: 1px solid #ededed;
  }
  .company__textDetail {
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    color: #535353;
  }
  .company__titleMedia {
    margin: 0 0 9px;
    font-weight: 800;
    font-size: 18px;
    line-height: 40px;
    color: #535353;
  }
  .company__boxImg {
    margin-bottom: 20px;
  }
  .company__boxSpan {
    display: inline-block;
    margin-bottom: 9px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #535353;
  }
}
.site-footer {
  padding: 41px 0 27px 0;
  background-color: #3d4f64;
}

.site-footer__inner {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.logo-footer {
  display: block;
  margin-bottom: 24px;
}

.date {
  font-weight: 500;
  font-size: 11px;
  line-height: 164%;
  color: #ffffff;
}

.wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin-right: 20px;
  margin-left: 20px;
}

.site-footer__menu-title {
  display: block;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 14px;
  line-height: 214%;
  color: #ffffff;
}

.site-footer__menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-footer__menu-item + .site-footer__menu-item {
  margin-top: 4px;
}

.site-footer__menu-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  color: #ffffff;
  text-decoration: none;
}
.site-footer__menu-link:hover {
  color: #ffc94f;
  text-decoration: underline;
}

.site-footer__links-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-footer__links-item + .site-footer__links-item {
  margin-top: 4px;
}

.site-footer__links-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 214%;
  text-decoration: none;
  color: #ffffff;
}
.site-footer__links-link:hover {
  color: #ffc94f;
}

.site-footer__info-title {
  display: block;
  margin-bottom: 7px;
  font-weight: 600;
  font-size: 14px;
  line-height: 214%;
  color: #ffffff;
}

.site-footer__info-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-footer__info-item:nth-child(1) > .site-footer__info-link::before {
  left: -2px;
}
.site-footer__info-item:nth-child(2) > .site-footer__info-link::before {
  width: 14px;
  height: 14px;
  background-image: url("../images/tel.svg");
}
.site-footer__info-item:nth-child(3) > .site-footer__info-link::before {
  width: 15px;
  height: 12px;
  background-image: url("../images/sms.svg");
}

.site-footer__info-item + .site-footer__info-item {
  margin-top: 4px;
}

.site-footer__info-link {
  position: relative;
  padding-left: 22px;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  color: #ffffff;
}
.site-footer__info-link::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 17px;
  background-image: url("../images/location.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}
.site-footer__info-link:hover {
  color: #ffc94f;
}

.etad {
  display: none;
  padding: 14px 10px 0 10px;
  text-align: center;
  width: 100%;
  font-weight: 500;
  font-size: 11px;
  line-height: 164%;
  color: #ffffff;
  border-top: 1px solid #e5e5e5;
}

@media only screen and (max-width: 940px) {
  .wrapper {
    width: 100%;
    max-width: 400px;
  }
}
@media only screen and (max-width: 750px) {
  .date {
    display: none;
  }
  .site-footer__inner {
    flex-direction: column;
  }
  .site-footer__menu {
    margin-right: 30px;
    margin-bottom: 40px;
  }
  .site-footer__links-link {
    font-size: 12px;
    line-height: 250%;
  }
  .site-footer__info {
    margin-bottom: 20px;
  }
  .site-footer__info-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .site-footer__info-item + .site-footer__info-item {
    margin-left: 10px;
  }
  .etad {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */